In [1]:
my_set = set()

my_set

set()

In [3]:
names_set = {"Mary", "Nora", "Nina", "Scott"}

names_set

{'Mary', 'Nina', 'Nora', 'Scott'}

In [4]:
type(names_set)

set

In [5]:
names_set = {"Mary", "Nora", "Nina", "Scott", "Nora", "Nina"}

names_set

{'Mary', 'Nina', 'Nora', 'Scott'}

In [6]:
mixed_set = {"Alex", 10, 50.5, True}

mixed_set

{10, 50.5, 'Alex', True}

In [7]:
another_mixed_set = {"Alex", 10, 50.5, True, (1,2,3)}

another_mixed_set

{(1, 2, 3), 10, 50.5, 'Alex', True}

In [8]:
another_mixed_set = {"Alex", 10, 50.5, True, [1,2,3]}

another_mixed_set

TypeError: unhashable type: 'list'

In [9]:
laptop_set = {"HP", "Apple", "Dell", "Asus", "Lenovo", "MSI", "Toshiba"}

laptop_set

{'Apple', 'Asus', 'Dell', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [10]:
laptop_set.add("Genpact")

laptop_set

{'Apple', 'Asus', 'Dell', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [11]:
laptop_set.add("Apple")

laptop_set

{'Apple', 'Asus', 'Dell', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [12]:
laptop_set.discard('Dell')

laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [13]:
laptop_set.discard('Dell')

laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'Lenovo', 'MSI', 'Toshiba'}

In [14]:
laptop_set.remove('Lenovo')

laptop_set

{'Apple', 'Asus', 'Genpact', 'HP', 'MSI', 'Toshiba'}

In [15]:
laptop_set.remove('Lenovo')

laptop_set

KeyError: 'Lenovo'

In [16]:
student_set_1 = {"Anita", "Emma"}

student_set_2 = {"James", "Olivia"}

student_set_3 = {"James", "Anita"}

In [17]:
student_set_1.union(student_set_2)

{'Anita', 'Emma', 'James', 'Olivia'}

In [19]:
student_set_2.intersection(student_set_3)

{'James'}

In [21]:
student_set_1.difference(student_set_3)

{'Emma'}

In [22]:
{1, 2, 3}.isdisjoint({4, 5, 6})

True

In [23]:
{10, 20}.issubset({10, 20, 30})

True

In [24]:
{10, 20, 30}.issuperset({10, 20})

True

In [1]:
names_list = ["Mary", "Nora", "Nina", "Scott", "Nora", "Nina"]

names_tuple = ("Mary", "Nora", "Nina", "Scott", "Nora", "Nina")

In [2]:
names_list_to_set = set(names_list)

names_list_to_set

{'Mary', 'Nina', 'Nora', 'Scott'}

In [3]:
names_tuple_to_set = set(names_tuple)

names_tuple_to_set

{'Mary', 'Nina', 'Nora', 'Scott'}