In [1]:
my_list = []

In [2]:
print(my_list)

[]

In [3]:
empty_list = list()

empty_list

[]

In [4]:
games_list = ['Badminton', 'Golf', 'Basketball', 'Tennis']

games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [5]:
type(games_list)

list

In [6]:
games_list[0]

'Badminton'

In [7]:
games_list[1]

'Golf'

In [8]:
games_list[3]

'Tennis'

In [9]:
games_list[4]

IndexError: list index out of range

In [ ]:
games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [ ]:
games_list[-1]

'Tennis'

In [ ]:
games_list[-2]

'Basketball'

In [ ]:
games_list[-4]

'Badminton'

In [ ]:
games_list[-5]

IndexError: list index out of range

In [ ]:
integers_list = [10, 20, 30, 40, 50]

integers_list

[10, 20, 30, 40, 50]

In [ ]:
float_list = [5.7, 6.5, 90.2, 82.8, 3.5, 9.0]

float_list

[5.7, 6.5, 90.2, 82.8, 3.5, 9.0]

In [ ]:
boolean_list = [True, False, True, False]

boolean_list

[True, False, True, False]

In [ ]:
len(games_list)

4

In [ ]:
len(integers_list)

5

Not used very often, but it is possible to have lists with different type of data

In [ ]:
mixed_list = ["Nancy", "Peter", 12, 13, 4.5, 9.8, True, False]

mixed_list

['Nancy', 'Peter', 12, 13, 4.5, 9.8, True, False]

In [ ]:
len(mixed_list)

8

In [ ]:
games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [ ]:
games_list[0] = "Soccer"

games_list

['Soccer', 'Golf', 'Basketball', 'Tennis']

In [ ]:
games_list[3] = "Table Tennis"

games_list

['Soccer', 'Golf', 'Basketball', 'Table Tennis']

In [ ]:
integers_list

[10, 20, 30, 40, 50]

In [ ]:
integers_list[1] += 100

integers_list

[10, 120, 30, 40, 50]

In [ ]:
integers_list[4] *= 10

integers_list

[10, 120, 30, 40, 500]

In [ ]:
fruit_list = list("apples", "bananas", "pears", "mangoes")

fruit_list

TypeError: list expected at most 1 arguments, got 4

In [ ]:
fruit_list = list(("apples", "bananas", "pears", "mangoes"))

fruit_list

['apples', 'bananas', 'pears', 'mangoes']

In [ ]:
fruit_list = ["apples", "bananas", "pears", "mangoes", "apples"]

fruit_list

['apples', 'bananas', 'pears', 'mangoes', 'apples']

In [ ]:
integers_list

[10, 120, 30, 40, 500]

In [ ]:
sum(integers_list)

700

In [ ]:
float_list

[5.7, 6.5, 90.2, 82.8, 3.5, 9.0]

In [ ]:
max(float_list)

90.2

In [ ]:
min(integers_list)

10

#### List slicing

In [ ]:
games_list = ['Soccer', 'Golf', 'Basketball', 'Table Tennis', "Tennis", "Skating"]

games_list

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [ ]:
games_list[0:2]

['Soccer', 'Golf']

In [ ]:
games_list[1:4]

['Golf', 'Basketball', 'Table Tennis']

In [ ]:
games_list[1:6]

['Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

Specify a step in the list slice operation

In [ ]:
games_list[1:6:1]

['Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [ ]:
games_list[1:6:2]

['Golf', 'Table Tennis', 'Skating']

In [ ]:
games_list[1:6:3]

['Golf', 'Tennis']

In [ ]:
games_list[:4]

['Soccer', 'Golf', 'Basketball', 'Table Tennis']

In [ ]:
games_list[2:]

['Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [ ]:
games_list[:]

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [ ]:
games_list[::]

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis', 'Skating']

In [ ]:
games_list[:-1]

['Soccer', 'Golf', 'Basketball', 'Table Tennis', 'Tennis']

In [ ]:
games_list[-5:-1]

['Golf', 'Basketball', 'Table Tennis', 'Tennis']

Reverse a list. Many complex operations possible, not shown here

In [ ]:
games_list[::-1]

['Skating', 'Tennis', 'Table Tennis', 'Basketball', 'Golf', 'Soccer']