Tuples are ordered collections (like lists) but are immutable

In [3]:
my_tuple = ()

my_tuple

()

In [4]:
type(my_tuple)

tuple

In [5]:
integer_tuple = (100, 200, 300, 400)

integer_tuple

(100, 200, 300, 400)

In [7]:
integer_tuple[0]

100

In [8]:
integer_tuple[3]

400

In [9]:
integer_tuple[4]

IndexError: tuple index out of range

In [6]:
float_tuple = (100.4, 23.34, 302.98, 400.00001)

float_tuple

(100.4, 23.34, 302.98, 400.00001)

In [26]:
len(float_tuple)

4

In [27]:
max(float_tuple)

400.00001

In [28]:
min(float_tuple)

23.34

In [10]:
names_tuple = ("Charles", "Darwin", "Emily", "Fiona", "Greg")

names_tuple

('Charles', 'Darwin', 'Emily', 'Fiona', 'Greg')

In [11]:
boolean_tuple = (True, True, False, True)

boolean_tuple

(True, True, False, True)

In [12]:
mixed_tuple = ("James", 3, 5.6, False)

mixed_tuple

('James', 3, 5.6, False)

In [13]:
names_tuple[:2]

('Charles', 'Darwin')

In [14]:
names_tuple[3:]

('Fiona', 'Greg')

In [17]:
names_tuple[::2]

('Charles', 'Emily', 'Greg')

In [18]:
names_tuple[0] = "Robert"

TypeError: 'tuple' object does not support item assignment

In [19]:
"Darwin" in names_tuple

True

In [20]:
"darwin" not in names_tuple

True

In [23]:
names_list = list(names_tuple)

names_list

['Charles', 'Darwin', 'Emily', 'Fiona', 'Greg']

In [24]:
games_list = ['Badminton', 'Golf', 'Basketball', 'Tennis']

games_list

['Badminton', 'Golf', 'Basketball', 'Tennis']

In [25]:
games_tuple = tuple(games_list)

games_tuple

('Badminton', 'Golf', 'Basketball', 'Tennis')