In [31]:
my_dict = {}

my_dict

{}

In [32]:
employee_salaries = {"Ray": 34000,
                     "Jacob": 35000,
                     "Lisa": 40000,
                     "Raj": 32000}

employee_salaries

{'Ray': 34000, 'Jacob': 35000, 'Lisa': 40000, 'Raj': 32000}

In [33]:
employee_salaries["Lisa"]

40000

In [34]:
employee_salaries["Raj"]

32000

In [35]:
employee_salaries["Alice"]

KeyError: 'Alice'

In [36]:
employee_salaries["Raj"] = 50000

employee_salaries

{'Ray': 34000, 'Jacob': 35000, 'Lisa': 40000, 'Raj': 50000}

In [37]:
employee_salaries["Lisa"] *= 1.1

employee_salaries

{'Ray': 34000, 'Jacob': 35000, 'Lisa': 44000.0, 'Raj': 50000}

In [38]:
del employee_salaries["Jacob"]

employee_salaries

{'Ray': 34000, 'Lisa': 44000.0, 'Raj': 50000}

In [39]:
dictionary_with_int_keys = {1: "Mary", 2: "Roy", 3: "Ophelia"}

dictionary_with_int_keys

{1: 'Mary', 2: 'Roy', 3: 'Ophelia'}

In [40]:
dictionary_with_float_keys = {1.1: "Mary", 2.2: "Roy", 3.3: "Ophelia"}

dictionary_with_float_keys

{1.1: 'Mary', 2.2: 'Roy', 3.3: 'Ophelia'}

In [56]:
employee_salaries

{'Ray': 34000, 'Lisa': 44000.0, 'Raj': 50000}

In [57]:
employee_salaries.pop("Lisa")

employee_salaries

{'Ray': 34000, 'Raj': 50000}

In [58]:
employee_salaries.keys()

dict_keys(['Ray', 'Raj'])

In [59]:
employee_salaries.values()

dict_values([34000, 50000])

In [60]:
employee_salaries.items()

dict_items([('Ray', 34000), ('Raj', 50000)])

In [61]:
"Ray" in employee_salaries.keys()

True

In [62]:
34000 in employee_salaries.values()

True

In [63]:
('Jacob', 35000) in employee_salaries.items()

False

In [48]:
mixed_dict = {False: "Hello", 
              "Hi": [1, 2, 3], 
              "Good morning": True}

mixed_dict

{False: 'Hello', 'Hi': [1, 2, 3], 'Good morning': True}

In [49]:
mixed_dict[False]

'Hello'

In [50]:
mixed_dict["Hi"]

[1, 2, 3]

In [51]:
mixed_dict["Hi"][1]

2

In [52]:
calories = {}

calories

{}

In [53]:
calories["Burger"] = 500

calories["Fries"] = 200

calories["Shake"] = 400

In [54]:
calories

{'Burger': 500, 'Fries': 200, 'Shake': 400}

In [55]:
calories["Burger"] = 550

calories

{'Burger': 550, 'Fries': 200, 'Shake': 400}

In [64]:
updated_calories = {"Shake": 700, "Juice": 200}

updated_calories

{'Shake': 700, 'Juice': 200}

In [65]:
calories.update(updated_calories)

calories

{'Burger': 550, 'Fries': 200, 'Shake': 700, 'Juice': 200}